<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Tester</title>
  </head>
  <body>
    <h1>API Tester</h1>
    <form method="post">
      <label for="req_type">Request Type:</label>
      <select id="req_type" name="req_type">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
      </select>
      <br /><br />
      <label for="req_path">Request Path:</label>
      <input type="text" id="req_path" name="req_path" required />
      <br /><br />
      <label for="req_body">Request Body:</label>
      <textarea id="req_body" name="req_body"></textarea>
      <br /><br />
      <button type="submit">Send Request</button>
    </form>
    <div id="response">
      {% if response %}
      <h2>Response</h2>
      <pre>{{ response }}</pre>
      {% endif %}
    </div>
  </body>
</html>
